.invalid-feedback {
    display: block !important;
}

.c-button {
    padding: 4px 10px !important;
    margin-left: 23px;
    padding-top: 6px !important;
    margin-top: 0;
}

.login-button {
    background-color: #f8cb33;
}

.login-submit-button {
    background-color: #111;
    color: #ccc;
    margin-left: 0;
}

.login-button:hover {
    background-color: #ad8709;
    color: #111;
}
