*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 82px;
}

.fb2022-copy {
  display: none;
}

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  color: #707070;
}

section {
  margin-top: 100px;
}

h2, h3, h4, h5 {
  color: black;
  text-transform: uppercase;
  font-weight: 600;
}

.post-meta {
  color: #707070;
  text-transform: uppercase;
  padding: 15px 0px 10px;
}

.underscore {
  display: inline-block;
  border-bottom: 3px solid #f8cb33;
  padding-bottom: 10px;
}

.sup-header {
  margin: 0;
  color: black;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 600;
}

textarea[type="text"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email*"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0 none;
  border-radius: 0px;
}

textarea[type="text"],
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email*"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
label {
  text-transform: uppercase;
  border-radius: 0px;
}

.main-button {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 10px 30px;
  border: 4px solid black;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 50px;
}

.main-button:hover {
  background-color: black;
  color: white;
}

.main-button-black {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px 30px;
  border: 4px solid black;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 50px;
}

.main-button-black:hover {
  background-color: white;
  color: black;
}

.card-button {
  text-decoration: none;
  padding: 5px 15px;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  border: 1px solid white;
}

.card-button:hover {
  background-color: white;
  color: black;
}

.mainmargin {
  margin-top: 150px;
}

.quote {
  padding: 30px;
  background-color: black;
  color: white;
  margin: 20px 0px;
  position: relative;
}

.quote .blockquote {
  font-size: 1.5em;
  width: 85%;
  margin-left: auto;
}

.quote .blockquote::before {
  position: absolute;
  top: 0;
  left: 20px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f10e";
  color: #f8cb33;
  padding-right: 10px;
  font-size: 3em;
}

.quote .blockquote-footer {
  font-size: 1.1em;
}

ul.list-in-text {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

ul.list-in-text li {
  padding-left: 1em;
  text-indent: -1em;
}

ul.list-in-text li:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f0c8";
  color: #f8cb33;
  padding-right: 10px;
  font-size: 0.8em;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.85);
}

nav {
  z-index: 2;
  text-transform: uppercase;
}

nav a, nav .nav-link {
  color: white;
  position: relative;
  padding: 10px 0px !important;
}

nav .active::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #f8cb33;
  position: absolute;
  bottom: 0;
  left: 0;
}

nav .fa-bars {
  color: white;
}

nav .navbar-brand {
  font-weight: bold;
}

nav .nav-link:hover {
  color: #f8cb33;
}

.navbar-toggler {
  padding: 0;
}

.dark {
  background-color: black;
  color: white;
}

.main-slider {
  color: white;
  height: 100vh;
  margin-top: 0;
  height: 100vh;
}

.main-slider .fa-chevron-down {
  color: rgba(255, 255, 255, 0.87);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 20px;
  font-size: 35px;
  z-index: 5;
}

.main-slider .fa-chevron-down:hover {
  color: #f8cb33;
}

.main-slider .hero-img {
  position: relative;
  height: 100%;
  background-image: url("../img/building-1727807_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.main-slider .hero-img .hero-bg {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  z-index: -1;
}

.main-slider .hero-img .hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-slider .hero-img .hero-text p {
  font-size: 16px;
  padding-top: 30px;
}

.main-slider .hero-img .hero-text .welcome-text {
  padding-bottom: 25px;
  border-bottom: 4px solid #f8cb33;
}

.main-slider .hero-img .hero-text .welcome-text span {
  display: block;
}

.main-slider .hero-img .hero-text .welcome-text .big-text {
  font-size: 50px;
  font-weight: bold;
}

.main-slider .hero-img .hero-text .welcome-text .small-text {
  font-size: 38px;
  font-weight: bold;
  margin-top: 0px;
}

.aboutus {
  position: relative;
}

.aboutus .right {
  padding: 70px 30px 90px;
  background-color: black;
  margin-bottom: 40px;
}

.aboutus .right p {
  font-size: 25px;
  color: white;
  z-index: 5;
}

.aboutus .left .main-button {
  display: inline-block;
  margin-top: 20px;
}

.social-media {
  margin: 100px auto;
  text-align: center;
}

.social-media a img {
  width: 70px;
  padding: 40px 10px;
}

.social-media a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#posts .posts-wrapper {
  padding-bottom: 30px;
}

#posts .posts-wrapper .post-item {
  margin-bottom: 50px;
  padding-left: 20px;
  border-left: 3px solid #f8cb33;
}

#posts .posts-wrapper .post-item .post-title {
  color: black;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

#posts .posts-wrapper .post-item .post-title:hover {
  display: inline-block;
  background-color: black;
  color: white;
}

#posts .posts-wrapper .post-item .post-content {
  padding-top: 10px;
}

#posts .posts-wrapper .main-button {
  position: relative;
  float: right;
  top: 0;
  margin: 0;
}

.new-articles .card-img-overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.76);
}

.new-articles .card-img-overlay .text-overlay {
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.new-articles .card-img-overlay .card-text {
  font-size: 9px;
}

.new-articles .card-img-overlay .card-title {
  color: white;
  font-size: 14px;
}

.new-articles .card-img-overlay .line {
  width: 200px;
  height: 2px;
  background-color: #f8cb33;
  margin-top: 5px;
  margin-bottom: 5px;
}

.new-articles .card-img-overlay .card-button:hover {
  background-color: white;
  color: black;
}

.new-articles .card:hover .card-img-overlay {
  display: block;
}

.subscribe {
  padding: 70px 0;
  background-color: #e6e6e6;
  text-align: center;
}

.subscribe h2 {
  padding-bottom: 40px;
}

.subscribe form .email, .subscribe form .button-subscribe {
  display: inline-block;
  padding: 0 30px;
  margin-top: 30px;
  height: 50px;
  border: 2px solid black;
  border-radius: none;
}

.subscribe form .email {
  width: 300px;
}

.subscribe form .button-subscribe {
  color: white;
  background-color: black;
  font-weight: 600;
}

.single-post img {
  width: 100%;
  padding: 20px 0px;
}

.single-post .share {
  padding: 15px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}

.single-post .share a {
  padding: 5px 15px;
  text-decoration: none;
  display: inline-block;
  margin-top: 0;
}

.single-post .share a:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.single-post .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.single-post .navigation a {
  color: gray;
  text-decoration: none;
}

.single-post .navigation a:hover {
  cursor: pointer;
  color: #f8cb33;
}

.single-post #commentForm, .single-post #contactForm {
  padding: 30px 0px;
}

.single-post #commentForm input, .single-post #commentForm textarea, .single-post #contactForm input, .single-post #contactForm textarea {
  border-radius: 0px;
}

.single-post #commentForm button, .single-post #contactForm button {
  margin-top: 0;
}

.all-posts .post-item {
  margin-bottom: 100px;
  position: relative;
}

.all-posts .post-item .post-img {
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.all-posts .post-item .post-img img {
  height: 100%;
}

.all-posts .post-item .post-main-info .post-title {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.3em;
  color: black;
  padding: 20px 0px 15px;
  margin-bottom: 0;
}

.all-posts .post-item .post-main-info .post-meta {
  font-size: 0.9em;
  padding: 10px 0px;
  color: gray;
}

.all-posts .post-item .post-main-info .post-meta span {
  white-space: nowrap;
}

.all-posts .post-item .post-main-info .main-button {
  margin-bottom: 10px;
}

.all-posts .post-item .post-main-info a {
  display: inline-block;
  margin-top: 10px;
}

.pagination {
  margin-top: 30px;
}

.pagination li a {
  color: black;
  padding: 10px 15px !important;
}

.pagination li a:hover {
  color: black;
}

.pagination li .active {
  color: black !important;
}

.pagination li .active:hover {
  color: white;
}

.pagination li a:focus {
  outline: none;
}

.pagination .page-link:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.features .feature-item:hover {
  color: #f8cb33;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.post-meta span {
  margin-right: 15px;
}

.sidebar .input-group {
  position: relative;
}

.sidebar .input-group .form-outline {
  width: 100%;
}

.sidebar .input-group .form-outline #search-input {
  border-radius: 0px;
}

.sidebar .input-group #search-button {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0px;
}

.sidebar .input-group #search-button:hover {
  color: #f8cb33;
}

.sidebar .recent-posts .post-item {
  margin-bottom: 50px;
  padding-left: 20px;
  border-left: 3px solid #f8cb33;
}

.sidebar .recent-posts .post-item .post-title {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
}

.sidebar .recent-posts .post-item .post-title:hover {
  display: inline-block;
  background-color: black;
  color: white;
}

.sidebar .recent-posts .post-item .post-meta {
  font-size: 0.8em;
}

.sidebar .recent-posts .post-item .post-meta span {
  white-space: nowrap;
}

.sidebar .recent-posts .post-item .post-content {
  font-size: 0.9em;
}

.sidebar .popular .card {
  border-radius: 0px;
  margin-bottom: 10px;
}

.sidebar .popular .card-img-overlay {
  background-color: rgba(0, 0, 0, 0.76);
}

.sidebar .popular .card-img-overlay .text-overlay {
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sidebar .popular .card-img-overlay .card-text {
  font-size: 9px;
}

.sidebar .popular .card-img-overlay .card-title {
  color: white;
  font-size: 14px;
}

.sidebar .popular .card-img-overlay .line {
  width: 200px;
  height: 2px;
  background-color: #f8cb33;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sidebar .popular .card-img-overlay .article-meta {
  padding: 5px 0;
}

.sidebar .popular .card-img-overlay .article-meta span {
  padding-right: 10px;
}

.sidebar .popular .card-img-overlay .card-button:hover {
  background-color: white;
  color: black;
}

footer .footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

footer .footer-icons a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer p {
  margin-top: 20px;
}

footer .copyright p {
  font-size: 0.9rem;
}

footer .copyright p a {
  text-decoration: none;
  color: black;
}

@media (min-width: 768px) {
  .main-slider .hero-img {
    position: relative;
  }
  .main-slider .hero-img .hero-text {
    position: absolute;
  }
  .main-slider .hero-img .hero-text p {
    font-size: 18px;
  }
  .main-slider .hero-img .hero-text .welcome-text .big-text {
    font-size: 100px;
  }
  .main-slider .hero-img .hero-text .welcome-text .small-text {
    font-size: 76px;
    margin-top: -20px;
  }
  .aboutus {
    position: relative;
  }
  .aboutus .black-div {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: black;
  }
  .aboutus .left {
    position: relative;
    padding-left: 30px;
    height: 100%;
  }
  .aboutus .left h2 {
    margin-top: 0;
  }
  .aboutus .right .text-right p {
    font-size: 45px;
  }
  .aboutus .new-articles .card-img-overlay .card-text {
    font-size: 12px;
  }
  .aboutus .new-articles .card-img-overlay .card-title {
    font-size: 26px;
  }
  .aboutus .new-articles .card-img-overlay .line {
    width: 200px;
    height: 2px;
    background-color: #f8cb33;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .aboutus .new-articles .card-img-overlay .card-button {
    padding: 5px 15px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    border: 1px solid white;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .nav-link {
    margin-left: 30px;
  }
  .main-slider .hero-img {
    position: relative;
  }
  .main-slider .hero-img .hero-text {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .main-slider .hero-img .hero-text p {
    font-size: 24px;
    padding-top: 40px;
  }
  .main-slider .hero-img .hero-text .welcome-text .big-text {
    font-size: 140px;
  }
  .main-slider .hero-img .hero-text .welcome-text .small-text {
    font-size: 107px;
  }
  .new-articles .card-img-overlay .card-text {
    font-size: 12px;
  }
  .new-articles .card-img-overlay .card-title {
    font-size: 26px;
  }
  .new-articles .card-img-overlay .card-button {
    padding: 5px 15px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    border: 1px solid white;
  }
}

@media (min-width: 1200px) {
  .main-slider .hero-img {
    position: relative;
  }
  .main-slider .hero-img .hero-text {
    position: absolute;
    -webkit-transform: translate(-80%, -50%);
            transform: translate(-80%, -50%);
  }
  .new-articles .card-img-overlay {
    padding: 40px !important;
  }
  .new-articles .card-img-overlay .card-text {
    font-size: 16px;
  }
  .new-articles .card-img-overlay .card-title {
    font-size: 30px;
  }
  .new-articles .card-img-overlay .line {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .new-articles .card-img-overlay .card-button {
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    border: 2px solid white;
    margin-top: 10px;
  }
  .all-posts .post-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .all-posts .post-item .post-img {
    min-width: 300px;
    height: 300px;
    overflow: hidden;
    margin-right: 20px;
  }
  .all-posts .post-item .post-main-info .post-title {
    padding: 0px 0px 10px;
  }
  .all-posts .post-item .post-main-info .main-button {
    position: absolute;
    bottom: 0;
    margin: 0px;
    padding: 5px 15px;
  }
  .all-posts .post-item .post-main-info a {
    display: inline-block;
    margin-top: 10px;
  }
  .sidebar .popular .card-img-overlay .card-text {
    font-size: 0.7em;
  }
  .sidebar .popular .card-img-overlay .card-title {
    color: white;
    font-size: 1.3em;
  }
  .sidebar .popular .card-img-overlay .article-meta {
    padding: 15px 0;
  }
  .sidebar .popular .card-img-overlay .article-meta span {
    padding-right: 10px;
  }
}
/*# sourceMappingURL=main.css.map */